*, #content :first-child, #content :last-child {
	margin: 0;
}

nav .editorTabs {
	list-style: none;
	padding: 0 0 0 10px;
	min-width: 460px;
}

.editorTabs li {
	float: left;
	position: relative;
	height: 30px;
	/*border-radius: 10px 30px 0 0;*/
	margin-left: -10px;
	text-shadow: 1px 1px 0 #bbb;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	transition: .2s;
}

.editorTabs div {
	display: inline-block;
	position: relative;
	float:left;
	width: 130px;
	height: 20px;
	padding: 6px 10px 34px 0;
	/*border-radius: 10px 30px 0 0;*/
	background: #999;
	color: #444;
	text-align: center;
	text-decoration: none;
	transition: .2s;
}

.editorTabs p {
	overflow: hidden;
	text-overflow: ellipsis;
}

.editorTabs li .closeButton {
	display: none;
	float: right;
}

.editorTabs li:hover {
	z-index: 1;
}

.editorTabs li:hover div {
	background: #ccc;
	color: #000;
}

.editorTabs #selected:hover p {
	float: left;
	width: 100px;
}

.editorTabs #selected:hover .closeButton {
	margin-top: 7px;
	display: inline-block;
	float: right;
	left: 0;
}

.editorTabs #selected {
	z-index: 2;
}

.editorTabs #selected div {
	z-index: 3;
	background: #fff;
	color: #000;
	text-shadow: none;
	font-weight: 500;
}

.editorCanvas {
	position: relative;
	z-index: 1;
	clear: both;
	min-width: 420px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	background: #fff;
}

.editorCanvas {
	margin: 20px 0;
}
