/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;
$dull-black: #4A4A4A !default;
$white-base: #ffffff !default;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;

@import url(https://fonts.googleapis.com/css?family=Roboto);
$roboto: 'Roboto', sans-serif;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

ul {
  list-style: none;
  padding: 0;
}

.defaultButton {
  cursor: pointer;
  position: relative;
  width: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: $white-base;
  padding: 0.8em 1.5em;
  background-color: $midnight-blue;
  border: 0;
  border-bottom: 2px solid $dull-black;
  box-shadow: inset 0 -2px $dull-black;
}

.preferences {
  left: 50%;
  margin: auto;
  text-align: center;
}

.fileDirectory {
  padding-left: 1.3em;
}

.fileDirectory:before {
  content: "\f07b";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.fileList {
  list-style: none;
  padding-left: 1.3em;
}

.fileList:before {
  content: "\f0f6";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.editorWindow {
  float: left;
  width: 80%;
  height: 100%;
}

.editorSideMenu {
  float: left;
  padding: 1em;
  width: 20%;
}
.sideBarFileLink {
  cursor: pointer;
  display: inline;
  list-style: none;
}

.sideBarFileLink:hover {
  color: black;
}

.navBar {
  display: inline-block;
}

.navBar div {
  float: left;
  margin-left: 2em;
  cursor: pointer;
}

.eveMenuDropDown {
  font-weight: bold;
}

.hide {
  display: none;
}

.lineBreak {
  padding-top: 2em;
}

.selectStyle {
    border: 1px solid #ccc;
    width: 140px;
    border-radius: 3px;
    overflow: hidden;
    left: 50%;
    margin: auto;
    text-align: center;
    font-size: 1.3em;
    margin-top: 2em;
    padding-left: 10px;
    padding-right: 10px;
}

.selectStyle select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    font-size: 0.8em;
}

.selectStyle select:focus {
    outline: none;
}

.fullScreen {
    height: 100%;
}

.editorCanvas {
  height: 99%;
}

.fileTab {
  cursor: pointer;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }
